<div class="container">
  <div class="row" id="Userform">
    <div class="col-md-12">
      <h2>Search Github User</h2>
      <app-search-form (getUser)="newUser($event)"></app-search-form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-7">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Github Username</th>
            <td><a href="{{userDetails.html_url}}">{{userDetails.login}}</a></td>
          </tr>
          <tr>
            <th>Github Created On</th>
            <td>{{userDetails.created_at}}</td>
          </tr>
          <tr>
            <th>Number of Repositories Done</th>
            <td>{{userDetails.public_repos}}</td>
          </tr>
          <tr>
            <th>Number Of Followers</th>
            <td>{{userDetails.followers}}</td>
          </tr>
          <tr>
            <th>Number of Following</th>
            <td>{{userDetails.following}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <img src="{{userDetails.avatar_url}}" alt="">
    </div>
  </div>
  <br>
  <div class="footer">
    <footer>Navigate to Repositories page through our Repositories link on top of page to view the Users Repos in more detail</footer>
  </div>
</div>
