<header>
  <div class="container-fluid p-0" id="navbar">
        <nav class="navbar navbar-expand-lg">
          <h1>GITHUB SEARCH-REPLICA</h1>
          <p>Click on Users to get started!</p>
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mr-auto"></div>
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" routerLink="/search-user" routerLinkActive="active">USERS <span class="sr-only">(current)</span></a>
                </li>
                <br>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/repositories" routerLinkActive="active">REPOSITORIES</a>
                </li>
              </ul>
          </div>
        </nav>
      </div>
</header>
<router-outlet></router-outlet>
